<div class="divCuadrosStands">
    <div class="cuadrosStands">
    <div class="tittle">
            <h1>
                Encuentros
            </h1>
        </div>
        <div class="numberoEncuentros">
            <h1 class="numero1">
                35/
            </h1>
            <h1 class="numero2">
                150
            </h1>
        </div>
        <div class="subtittle">
            <p>
                Encuentros disputados
            </p>
        </div>
    </div>
    <div class="cuadrosStands">
        <div class="tittle">
            <h1>
                Universidades
            </h1>
        </div>     
        <div class="numberoEncuentros">
            <h1 class="numero1">
                {{cantUniversidades}}
            </h1>            
        </div>   
        <div class="subtittle">
            <p>
                Universidades inscritas
            </p>
        </div>
    </div>
    <div class="cuadrosStands">
        <div class="tittle">
            <h1>
                Paises
            </h1>
        </div>
        <div class="numberoEncuentros">
            <h1 class="numero1">
                25
            </h1>            
        </div>  
        <div class="subtittle">
            <p>
                Paises representantes
            </p>
        </div>
    </div>
</div>