<div class="divCuadrosStands">
    <div class="cuadrosStands">
    <div class="tittle">
            <p>
                Encuentros
            </p>
        </div>
        <div class="numberoEncuentros">
            <span class="numero1">
                35/
            </span>
            <span class="numero2">
                150
            </span>
        </div>
        <div class="subtittle">
            <p>
                Encuentros disputados
            </p>
        </div>
    </div>
    <div class="cuadrosStands">
        <div class="tittle">
            <p>
                Universidades
            </p>
        </div>     
        <div class="numberoEncuentros">
            <span class="numero1">
                50
            </span>            
        </div>   
        <div class="subtittle">
            <p>
                Universidades inscritas
            </p>
        </div>
    </div>
    <div class="cuadrosStands">
        <div class="tittle">
            <p>
                Paises
            </p>
        </div>
        <div class="numberoEncuentros">
            <span class="numero1">
                25
            </span>            
        </div>  
        <div class="subtittle">
            <p>
                Paises representantes
            </p>
        </div>
    </div>
</div>