
.divCuadrosStands{
    width: 1300px;
    height: 300px;
    margin: auto;
    display: flex;
}
.divCuadrosStands .cuadrosStands{
    width: 380px;
    height: 250px;
    margin: auto;
    padding-top: 15px;
    background: rgba(17, 17, 17, 0.5);
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border: 1px solid white;
    /* Note: backdrop-filter has minimal browser support */
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0),white, rgba(0, 0, 0, 0)) 28 0%;
    border-radius: 13px;
    box-sizing: border-box;
}

.divCuadrosStands .cuadrosStands .tittle {
    position: relative;
    left: 30px;
    margin-top: 10px;
}

.divCuadrosStands .cuadrosStands .subtittle {
    position: relative;
    left: 30px;
    top: 35px;
}


.divCuadrosStands .cuadrosStands .subtittle p{
    font-size: 20px;
    color: white;
    
}

.divCuadrosStands .cuadrosStands .tittle p{
    color: white;
    font-size: 25px;
    margin-bottom: 30px;


}
.divCuadrosStands .cuadrosStands .numberoEncuentros {
    position: relative;
    left: 30px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.divCuadrosStands .cuadrosStands .numberoEncuentros .numero1{
    font-size: 45px;
    width: 45px;
}

.divCuadrosStands .cuadrosStands .numberoEncuentros .numero2{
    font-size: 35px;
    position: relative;
    left: 10px;
}
.divCuadrosStands .cuadrosStands .numberoEncuentros{
    display: flex;
}
@media (max-width: 500px){
    .divCuadrosStands{
        width: 100%;
        flex-direction: column;
        height: 900px;
    }
    .divCuadrosStands .cuadrosStands{
        width: 90%;
    }
  }