
.divCuadrosStands{
    width: 1300px;
    height: 300px;
    margin: auto;
    display: flex;
}
.divCuadrosStands .cuadrosStands{
    width: 380px;
    height: 200px;
    margin: auto;
    background-color: #edf0dd;
}