<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="back/index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="nodejs">
          <match url="/*" />
          <action type="Rewrite" url="back/index.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode nodeProcessCommandLine="node.exe" />
  </system.webServer>
</configuration>