.form-group {
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
  }
  
  input.form-control {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  
  button[nbButton] {
    margin-top: 1rem;
  }

  .contFormulario{
    position: relative;
    margin: auto;
    width: 100%;
  }

  nb-card-body.example-items-col {
    align-items: stretch;
  }

  form{
    display: flex;
    flex-direction: column;
    width: 50%;    
    position: relative;
    margin: auto;
  }
  nb-card-body{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 60%;
    height: auto;
  }
nb-card-body .form-group{
  margin: 20px;
}
.dropFile{
  width: 450px;
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px gray;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.dropFile input{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.dropFile nb-icon{
  margin: auto;
}
.dropFile span b{
  margin: auto;
  color: #3f3f3f;
  font-size: 18px;
}
.dropFile span{
  margin: auto;
  color: #959595;
  font-size: 14px;
}