<section class="contFormulario">

  <nb-card>    
    <nb-card-body>
      <form>
        <div class="form-group">
          <!-- <label for="nombre">Nombre:</label> -->
          <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="nombre">
        </div>
        <div class="form-group">
          <!-- <label for="pais">País:</label> -->
          <input type="text" id="pais" class="form-control" formControlName="pais" placeholder="Pais">
        </div>
        <div class="form-group">
          <!-- <label for="ciudad">Ciudad:</label> -->
          <input type="text" id="ciudad" class="form-control" formControlName="ciudad" placeholder="Ciudad">
        </div>
        <div class="form-group">
          <!-- <label for="ciudad">Ciudad:</label> -->
          <!-- <input type="text" id="ciudad" class="form-control" formControlName="ciudad" placeholder="ciudad"> -->
        </div>
        <!-- <div class="form-group">
          <label for="estudiantes">Cantidad de estudiantes:</label>
          <input type="number" id="estudiantes" class="form-control" formControlName="estudiantes">
        </div> -->
        <div class="form-group">
          <label for="logo">Seleccionar logo:</label>
          <input type="file" id="logo" class="form-control" formControlName="logo">
        </div>
        <button nbButton status="primary" (click)="submit()">Ingresar</button>
      </form>
    </nb-card-body>
  </nb-card>


</section>

