<div class="div_segunda_ronda">

  <div
    class="container cont_padre_segunda_ronda d-flex flex-column w-100 m-auto justify-content-around position-relative">

    <div class="container cont_pregunta_segundaRonda h-25 w-100">

      <div class="integral_acual w-75 h-100 m-auto">

        <img [src]="imgIntegralActual" alt="" class="integral_actual" width="100%" height="100%">

      </div>


    </div>

    <div class="container  cont_respuesta_segunda_ronda h-25 w-100">

      <img src="../../assets/img/segundaRonda/Group 119.png" class="" alt="" srcset=""
        style="position: absolute; left: 105px; top: -65px; z-index: 0;">

      <div class="container respuesta-container w-75 h-100 z-3">
        <!-- <ng-katex [equation] ="mathequations[0]"> </ng-katex> -->

        <input [(ngModel)]="formulaRespuesta" class="entrada z-3" style="width: 100%; height: 100%;" />


        <div class="container time_container w-50 h-50 position-relative m-auto d-flex justify-content-between" style="top: -30%;">
          <img src="../../assets/img/segundaRonda/lines1.png" >
          <div class="box_watch w-25">
            <span>
              {{hours}}
            </span>
          </div>
          <div class="box_watch w-25">
            <span>
              {{minuts}}
            </span>
          </div>
          <div class="box_watch w-25">
            <span>
              {{seconds}}
            </span>
          </div>
          <img src="../../assets/img/segundaRonda/lines2.png" >
        </div>




        <img src="../../assets/img/segundaRonda/Group 118.png" alt="" srcset=""
          style="position: absolute; right: 100px; top: 135px; z-index: 0;">


      </div>



    </div>

    <div class="container cont_teclado_segunda_ronda h-50 w-100 d-flex justify-content-center">
      <div class="row row_teclado d-flex align-items-center m-auto position-relative">
        <div class="col-2" *ngFor="let symbol of symbols">
          <button class="btn btn-symbol" (click)="onButtonClick(symbol)">{{ symbol }}</button>
        </div>
      </div>


    </div>


  </div>





</div>
