.container-footer{
  width: 100%;
  height: 40px;
  margin: auto;
  display: flex;
  max-width: 100%;
  flex-direction: column;
}

.cont-redes{
  align-items: center;
  align-items: center;
  justify-content: space-between;
  /* background-color: aqua; */
}


.cont-redes .redes-links{
  width: 150px;
  height: 100%;
  align-items: center;
  display: flex;

}

.cont-redes .white-line{
  background-color: white;
  height: 3px;
  width: 70px;
}

.logo-apolo-footer{
  width: 130px;
  position: relative;
  margin: auto;
  top: -8px;
}

.anio{
  position: relative;
  margin: auto;
  top: 10px;
  left: 20px;
}

.anio p{
  color: white !important;
  font-size: 20px;

}
