.divFechas{
    width: 100%;
    height: 140px;
    background-color: #2f6b14;
    display: flex;
}
app-transmision{
    width: 100%;
    height: 700px;
    display: flex;
}

app-resultados{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #bde899;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
}

app-resumen-rondas{
    width: 80%;
    height: 100px;
    margin: auto;
    display: flex;
}
app-datos{
    width: 100%;
    height: 400px;
    display: flex;
    background-color: #95cd72;
}