<div class="divFechas">
    <app-resumen-rondas></app-resumen-rondas>
</div>
<div class="divCuadrosBlancos">
    <div class="cuadroIzq"></div>
    <div class="columnaDer">
        <div class="cuadroColDer"></div>
        <div class="cuadroColDer"></div>
        <div class="cuadroColDer"></div>
    </div>
</div>
<div class="divResults">
    <div class="divExtraResults">

        <div class="cuadroDivResults"></div>
        <div class="cuadroDivResults"></div>
        <div class="cuadroDivResults"></div>
        <div class="cuadroDivResults"></div>
        <div class="cuadroDivResults"></div>
        <div class="cuadroDivResults"></div>
        <div class="cuadroDivResults"></div>
        <div class="cuadroDivResults"></div>
        <div class="cuadroDivResults"></div>
        <div class="cuadroDivResults"></div>
        <div class="cuadroDivResults"></div>
        <div class="cuadroDivResults"></div>
        <div class="cuadroDivResults"></div>
        <div class="cuadroDivResults"></div>
        <div class="cuadroDivResults"></div>
        <div class="cuadroDivResults"></div>
    </div>
</div>
<div class="divStands">
    <div class="divCuadrosStands">
        <div class="cuadrosStands">
            
        </div>
        <div class="cuadrosStands">

        </div>
        <div class="cuadrosStands">

        </div>
    </div>
</div>