.divMenu2{
    background:linear-gradient(90.15deg, rgba(13, 47, 28, 0.9) 0.14%, rgba(13, 47, 28, 0.62) 99.88%), url(../../../assets/img/admin/panelControl/backgrundPanel.png);
}
.cron{
    height: 100px;
}
.lineas-1, .lineas-2{
    height: 100px;
}
.lineas-2{
    transform: rotate(180deg);
}
nb-icon{
    color: white;
}
.divImagen{
    height: 200px;
}
.online{
    color: rgb(97, 232, 97);
}
.offline{
    color: rgb(211, 54, 54);
}
.noDisponible{
    opacity: .7;
}
.divSuperior{
    top: 0px;
    background-color: #144a2cc4;
  }
  *{
    color: white;
  }