<div class="divTransmision">

  <div class="cont_transmition d-flex position-relative m-auto h-75 justify-content-evenly">


    <!-- Transmision primer participante -->
    <div class="container cont-participante-1 col-3 d-flex flex-column">
      <div class="container d-flex flex-column cont_video1 video_transmition col-10 w-100 h-50 m-auto">
        <div class="video_1">

        </div>
        <div class="logo_universiad">
          <img class="img_logo_universidad" [src]="imagenUni_1" alt="" width="90%" height="90%">
          <div class="number d-flex align-content-center">
            <p>
              {{numeroUniversidad_1}}
            </p>
          </div>
        </div>
        <div class="nombre_universidad">
          <p>
            {{nombreUni_1}}
          </p>
        </div>

      </div>


    </div>


    <!-- transmision ejercicio -->
    <div class="container cont_transmision col-6 d-flex flex-column">
      <div class="cont_Integral_Actual position-relative m-auto w-50">
        <img [src]="imgIntegralActual" alt="" class="integral_actual" width="100%" height="100%">
      </div>

      <div class="container cont_Opciones_transmision w-100 h-75 d-flex justify-content-evenly">
        <div class="exercise_1 col-5 d-flex align-items-center">
          <img src="../../assets/img/streaming/image 4.png" class="position-relative m-auto" alt=""  >
        </div>
        <div class="linea"></div>
        <div class="exercise_2 col-5 d-flex align-items-center">
          <img src="../../assets/img/streaming/image 4.png" class="position-relative m-auto" alt="">
        </div>
      </div>

      <div class="cont_time"></div>


    </div>



    <!-- Transmision segundo participante -->
    <div class="container cont-participante-2 col-3 d-flex flex-column">
      <div class="container d-flex flex-column cont_video1 video_transmition col-10 w-100 h-50 m-auto">
        <div class="video_1">

        </div>
        <div class="logo_universiad">
          <img class="img_logo_universidad" [src]="imagenUni_2" alt="" width="90%" height="90%">
          <div class="number d-flex align-content-center">
            <p>
              {{numeroUniversidad_2}}
            </p>
          </div>
        </div>
        <div class="nombre_universidad">
          <p>
            {{nombreUni_2}}
          </p>
        </div>

      </div>


    </div>




  </div>


</div>
