    <div class="flechas flechaIzq" style="margin-right: 10px;">
        <nb-icon icon="arrow-ios-back-outline" status="basic"></nb-icon>
    </div>
    <div class="divEncuentrosCompletos">
        <div class="divEncuentrosInterno">
            <div class="encuentro activo">
                <div class="participante">
                    <span style="text-align: center;">
                        <b>
                            Ronda 1
                        </b>
                    </span>
                </div>
                <div class="participante">
                    <span>Lorem Impsum</span>
                    <nb-icon icon="award-outline" status="basic"></nb-icon>
                    <nb-icon icon="award-outline" status="basic"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                </div>
                <div class="participante">
                    <span>Lorem Impsum</span>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                </div>
            </div>
            <div class="encuentro">
                <div class="participante">
                    <span style="text-align: center;">
                        <b>
                            Ronda 1
                        </b>
                    </span>
                </div>
                <div class="participante">
                    <span>Lorem Impsum</span>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                </div>
                <div class="participante">
                    <span>Lorem Impsum</span>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                </div>
            </div>
            <div class="encuentro">
                <div class="participante">
                    <span style="text-align: center;">
                        <b>
                            Ronda 1
                        </b>
                    </span>
                </div>
                <div class="participante">
                    <span>Lorem Impsum</span>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                </div>
                <div class="participante">
                    <span>Lorem Impsum</span>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                </div>
            </div>
            <div class="encuentro">
                <div class="participante">
                    <span style="text-align: center;">
                        <b>
                            Ronda 1
                        </b>
                    </span>
                </div>
                <div class="participante">
                    <span>Lorem Impsum</span>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                </div>
                <div class="participante">
                    <span>Lorem Impsum</span>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                </div>
            </div>
            <div class="encuentro">
                <div class="participante">
                    <span style="text-align: center;">
                        <b>
                            Ronda 1
                        </b>
                    </span>
                </div>
                <div class="participante">
                    <span>Lorem Impsum</span>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                </div>
                <div class="participante">
                    <span>Lorem Impsum</span>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                </div>
            </div>
            <div class="encuentro">
                <div class="participante">
                    <span style="text-align: center;">
                        <b>
                            Ronda 1
                        </b>
                    </span>
                </div>
                <div class="participante">
                    <span>Lorem Impsum</span>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                </div>
                <div class="participante">
                    <span>Lorem Impsum</span>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                </div>
            </div>
            <div class="encuentro">
                <div class="participante">
                    <span style="text-align: center;">
                        <b>
                            Ronda 1
                        </b>
                    </span>
                </div>
                <div class="participante">
                    <span>Lorem Impsum</span>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                </div>
                <div class="participante">
                    <span>Lorem Impsum</span>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                </div>
            </div>
            <div class="encuentro">
                <div class="participante">
                    <span style="text-align: center;">
                        <b>
                            Ronda 1
                        </b>
                    </span>
                </div>
                <div class="participante">
                    <span>Lorem Impsum</span>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                </div>
                <div class="participante">
                    <span>Lorem Impsum</span>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                    <nb-icon icon="award-outline" status="primary"></nb-icon>
                </div>
            </div>
            
        </div>
    </div>
    <div class="flechas flechaDer" style="margin-left: 10px;margin-right: 10px;">
        <nb-icon icon="arrow-ios-forward-outline" status="basic"></nb-icon>
    </div>
    <button nbButton outline status="basic">Ver todos</button>
