<div class="divMenu">
    <nb-card class="transparent">
        <nb-card-header>
            <div class="container">
                <div class="row">
                    <img src="../../assets/img/logos/candado.png" alt="" class="col-12 align-self-center">
                </div>
                <div class="row">
                    <h1>
                        Actualización de contraseña
                    </h1>
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <div class="container" [formGroup]="dataParticipante">
                <div class="row" >
                    <div class="form-group col-md-12">
                        <input type="password" class="form-control" formControlName="pass1" placeholder="Nueva contraseña">
                    </div>
                </div>
                <div class="row" >
                    <div class="form-group col-md-12">
                        <input type="password" class="form-control" formControlName="pass2" placeholder="Repetir contraseña">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <button nbButton outline status="basic" style="width: 100%;" (click)="submit()">Guardar</button>
                    </div>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>