.divMenu2{
    background:linear-gradient(235deg, #0f385bca 26.71%, #166136ca 61.69%), url(../../../assets/img/participante/clasificaciones/backgroundCla.png);
    background-size: cover;
}
.outer{
    width: 100%;
}
nb-card{
    margin: auto;
    height: 505px !important;
}
nb-card nb-card-header{
    display: flex;
}
nb-card nb-card-body{
    display: flex;
    position: relative;
    height: auto !important;
}
h1{
    margin: 20px auto 20px auto;
    font-size: 64px;
}
.column{
    width: auto;
    height: 250px;
    margin: auto 20px auto 20px;
}
.column nb-card{
    height: 100% !important;
    width: 230px;
}
.column nb-card nb-card-body{
    display: flex;
}
.column nb-card nb-card-body h1{
    margin: auto;
    font-size: 100px;
}
.column nb-card nb-card-footer h1{
    margin: 10px auto;
    font-size: 80px;
}
nb-card nb-card-footer{
    border-top: none !important;
    display: flex;
}
.column .row{
    height: 100%;
}
img.izq{
    margin: auto 0px auto auto;
}
img.der{
    margin: auto auto auto 0px;
    transform: scaleX(-1);
}
nb-card nb-card-footer button{
    margin: auto;
}
.banner img{
    position: absolute;
    width: 100%;
    height: 120%;
    top: -10%;
    pointer-events: none;
    z-index: 0;
}
.banner{
    height: 400px !important;

}
.banner .container{
    z-index: 1;
}
.reloj{
    position: relative !important;
    width: 50px !important;
    height: auto !important;
    left: 50px !important;
}
.timer nb-card{
    width: 100%;
    height: 200px !important;
}
.timer nb-card h1{
    margin: auto;
}
.timer{
    width: 800px;
    height: 200px !important;
    margin: auto 0px;
}
.col-1{
    display: flex;
}
.col-1 h1{
    margin: auto;
}
.divMenu2{
    flex-direction: column;
    position: relative;
}

app-integrales{
    top: -52px !important;
    position: relative !important;
}