<span class="titulo">Resultados</span>
<div class="divExtraResults">

    <div class="cuadroDivResults">
        <span class="tituloRonda">Ronda 1</span>
        <div class="infoEncuentro">
            <div class="participante"  style="margin: -8px 10px auto auto;">
                <span style="margin: auto auto auto 0px;">Lorem Impsum</span>
                <img src="" alt="">
                <span style="margin: auto 0px auto auto;">0</span>
            </div>
            <span>-</span>
            <div class="participante" style="margin: -8px auto auto 10px;">
                <span style="margin: auto auto auto 0px;">0</span>
                <img src="" alt="">
                <span style="margin: auto 0px auto auto;">Lorem Impsum</span>
            </div>
        </div>
    </div>
    <div class="cuadroDivResults">
        <span class="tituloRonda">Ronda 1</span>
        <div class="infoEncuentro">
            <div class="participante"  style="margin: -8px 10px auto auto;">
                <span style="margin: auto auto auto 0px;">Lorem Impsum</span>
                <img src="" alt="">
                <span style="margin: auto 0px auto auto;">0</span>
            </div>
            <span>-</span>
            <div class="participante" style="margin: -8px auto auto 10px;">
                <span style="margin: auto auto auto 0px;">0</span>
                <img src="" alt="">
                <span style="margin: auto 0px auto auto;">Lorem Impsum</span>
            </div>
        </div>
    </div>
    <div class="cuadroDivResults">
        <span class="tituloRonda">Ronda 1</span>
        <div class="infoEncuentro">
            <div class="participante"  style="margin: -8px 10px auto auto;">
                <span style="margin: auto auto auto 0px;">Lorem Impsum</span>
                <img src="" alt="">
                <span style="margin: auto 0px auto auto;">0</span>
            </div>
            <span>-</span>
            <div class="participante" style="margin: -8px auto auto 10px;">
                <span style="margin: auto auto auto 0px;">0</span>
                <img src="" alt="">
                <span style="margin: auto 0px auto auto;">Lorem Impsum</span>
            </div>
        </div>
    </div>
    <div class="cuadroDivResults">
        <span class="tituloRonda">Ronda 1</span>
        <div class="infoEncuentro">
            <div class="participante"  style="margin: -8px 10px auto auto;">
                <span style="margin: auto auto auto 0px;">Lorem Impsum</span>
                <img src="" alt="">
                <span style="margin: auto 0px auto auto;">0</span>
            </div>
            <span>-</span>
            <div class="participante" style="margin: -8px auto auto 10px;">
                <span style="margin: auto auto auto 0px;">0</span>
                <img src="" alt="">
                <span style="margin: auto 0px auto auto;">Lorem Impsum</span>
            </div>
        </div>
    </div>
</div>