<nb-layout>
  <nb-layout-header fixed [class.active]="menu">
    <nb-icon icon="menu-outline" class="iconoNotificacion" (click)="abrirMenu()"></nb-icon>
    <app-cabezera></app-cabezera>
  </nb-layout-header>
  
  <nb-layout-column>
    <router-outlet></router-outlet>
    
    <div class="notificacionAbajo">
      <div class="divClose">
        <nb-icon icon="close-circle-outline" (click)="cerrarModalNotificacion()"></nb-icon>
      </div>
      <span class="titulo">{{tituloN}}</span>
      <span class="texto">{{textoN}}</span>
      <nb-icon icon="{{iconoN}}" class="iconoNotificacion"></nb-icon>
    </div>
  </nb-layout-column>
  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
