<div class="container">
    <div class="row justify-content-around w-100">
        <div class="col-7 h-100 pb-4">
            <div class="container h-100">
                <div class="row h-100 w-100">
                    <div class="col-4 h-100">
                        <img src="../../assets/img/logos/logo-ameri.png" alt="">
                        <img  src="../../assets/img/logos/logo-poli.png" alt="">
                    </div>

                    <div class="divBtnMenu col-1 h-100">
                        <a href="./">INICIO</a>
                    </div>
                    <div class="divBtnMenu col-1 h-100">
                        <div class="drop">
                            <div class="titulo d-flex">
                                <span class="m-auto">RESULTADOS</span>
                            </div>
                            <div class="dropDown  d-flex flex-column">
                                <a href="./resultados" class="p-2">1ra ronda</a>
                                <a href="./tablaResultados" class="p-2">Posiciones</a>
                                <a href="./llaves" class="p-2">Llaves</a>
                            </div>
                        </div>
                    </div>
                    <div class="divBtnMenu col-1 h-100" *ngIf="usuario.rol == 'Admin' && isLoggedIn">
                        <div class="drop">
                            <div class="titulo d-flex">
                                <a href="./admin/menu" class="p-2">ADMIN</a>
                            </div>
                            <div class="dropDown  d-flex flex-column">
                                <a href="./admin/registroUniversidad" class="p-2">Registrar universidad</a>
                                <a href="./admin/panelControl" class="p-2">Panel de control</a>
                                <a href="./admin/registroIntegrales" class="p-2">Registrar integrales</a>
                                <a href="./admin/IntegralesRoda2" class="p-2">Registrar integrales 2</a>
                            </div>
                        </div>
                    </div>
                    <div class="divBtnMenu col" *ngIf="usuario.rol == 'Participante' && isLoggedIn">
                        <a href="./participante/clasificatorias">PRUEBAS CLASIFICATORIAS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-11" *ngIf="usuario.rol == 'Participante' && isLoggedIn">
                        <div class="container d-flex flex-column">
                            <div class="row justify-content-end">
                                <div class="col-12 alin">

                                    <b>
                                        {{usuario.nombreParticipante}}
                                    </b>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-12 alin">

                                    {{usuario.nombreUniversidad}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">

                        <button nbButton outline status="basic" (click) = "goLogin()" *ngIf="!isLoggedIn">Iniciar Sesión</button>
                        <button nbButton outline status="basic" (click) = "logOut()" *ngIf="isLoggedIn">Cerrar Sesión</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
