.divMenu2{
    background:linear-gradient(235deg, #0f385bca 26.71%, #166136ca 61.69%), url(../../../assets/img/admin/panelControl/backgrundPanel.png);
}
app-clasificatorias{
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
}