/* .registroUniversidades{
	position: relative;
	height: 90vh;
	box-shadow: 2px 2px 3px;
	background: #fff;
	filter: contrast(7);
	--mask: linear-gradient(red, #{rgba(#000, .45)});

	&::before {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		background: 
			radial-gradient(#000, transparent) 0 0/ .5em .5em space;
		-webkit-mask: var(--mask);
						mask: var(--mask);
		content: ''
	}
} */

.listas{
    width: 860px;
    display: flex;
    align-items: center;
	margin: auto;
}
app-listas-universidades{
	width: 100%;
	background-color: #edf0dd;
}