<!-- <nb-card>
    <nb-card-header>Información del Estudiante</nb-card-header>
    <nb-card-body>
      <form [formGroup]="studentForm">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" id="name" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
          <label for="country">País</label>
          <input type="text" id="country" class="form-control" formControlName="country">
        </div>
        <div class="form-group">
          <label for="city">Ciudad</label>
          <input type="text" id="city" class="form-control" formControlName="city">
        </div>
        <div class="form-group">
          <label for="studentCount">Cantidad de Estudiantes</label>
          <input type="number" id="studentCount" class="form-control" formControlName="studentCount">
        </div>
        <div class="form-group">
          <label for="logo">Seleccionar Logo</label>
          <input type="file" id="logo" class="form-control" formControlName="logo">
        </div>
        <button nbButton status="success" [disabled]="studentForm.invalid">Ingresar</button>
      </form>
    </nb-card-body>
  </nb-card>
   -->
